# Include package data
recursive-include automacoes_python_base_td/quick_start *
recursive-include automacoes_python_base_td/quick_start/examples *

# Include hidden files (dotfiles)
graft automacoes_python_base_td/quick_start

# Include documentation
include README.md
include LICENSE

# Exclude compiled files
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store
